.backArrow {
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  :global(.ant-card-head) {
    padding: 0;
  }

  .title {
    padding: 15px 0 0 24px;
  }
}

.list {
  &Item {
    padding: 0 20px;

    span {
      text-transform: capitalize;
    }
  }
}

