.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;

  &HeaderLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}